bin/appID.txt
bin/x64/Agora.exe
bin/x64/Agora.iobj
bin/x64/Agora.ipdb
bin/x64/Agora.pdb
bin/x64/Agora_d.exe
bin/x64/Agora_d.ilk
bin/x64/Agora_d.pdb
bin/x64/agora_rtc_sdk.dll
bin/x64/libagora-fdkaac.dll
bin/x64/libagora-ffmpeg.dll
bin/x64/libagora-mpg123.dll
bin/x64/libagora-soundtouch.dll
bin/x64/libhwcodec.dll
bin/x64/openal32.dll
bin/x64/sfml-audio-2.dll
bin/x64/sfml-audio-d-2.dll
bin/x64/sfml-graphics-2.dll
bin/x64/sfml-graphics-d-2.dll
bin/x64/sfml-network-2.dll
bin/x64/sfml-network-d-2.dll
bin/x64/sfml-system-2.dll
bin/x64/sfml-system-d-2.dll
bin/x64/sfml-window-2.dll
bin/x64/sfml-window-d-2.dll
Intermediate/Unused/Debug/x64/Agora/Agora.log
Intermediate/Unused/Debug/x64/Agora/Agora.obj
Intermediate/Unused/Debug/x64/Agora/Agora.vcxproj.FileListAbsolute.txt
Intermediate/Unused/Debug/x64/Agora/Agora_d.Build.CppClean.log
Intermediate/Unused/Debug/x64/Agora/Agora_d.exe.recipe
Intermediate/Unused/Debug/x64/Agora/AgoraRTC.obj
Intermediate/Unused/Debug/x64/Agora/imgui.obj
Intermediate/Unused/Debug/x64/Agora/imgui_demo.obj
Intermediate/Unused/Debug/x64/Agora/imgui_draw.obj
Intermediate/Unused/Debug/x64/Agora/imgui_stdlib.obj
Intermediate/Unused/Debug/x64/Agora/imgui_tables.obj
Intermediate/Unused/Debug/x64/Agora/imgui_widgets.obj
Intermediate/Unused/Debug/x64/Agora/imgui-SFML.obj
Intermediate/Unused/Debug/x64/Agora/vc142.idb
Intermediate/Unused/Debug/x64/Agora/vc142.pdb
Intermediate/Unused/Debug/x64/Agora/Agora.tlog/Agora.lastbuildstate
Intermediate/Unused/Debug/x64/Agora/Agora.tlog/CL.command.1.tlog
Intermediate/Unused/Debug/x64/Agora/Agora.tlog/CL.read.1.tlog
Intermediate/Unused/Debug/x64/Agora/Agora.tlog/CL.write.1.tlog
Intermediate/Unused/Debug/x64/Agora/Agora.tlog/link.command.1.tlog
Intermediate/Unused/Debug/x64/Agora/Agora.tlog/link.read.1.tlog
Intermediate/Unused/Debug/x64/Agora/Agora.tlog/link.write.1.tlog
bin/log.txt
.vs/Agora/config/applicationhost.config
.vs/Agora/v16/.suo
.vs/Agora/v16/Browse.VC.db
.vs/Agora/v16/Browse.VC.db-shm
.vs/Agora/v16/Browse.VC.db-wal
.vs/Agora/v16/ipch/AutoPCH/565ffc5b2c11764f/AGORA.ipch
.vs/Agora/v16/ipch/AutoPCH/5d43759c2ed347ee/AGORARTC.ipch
.vs/Agora/v16/ipch/AutoPCH/5fa0199f0bda43e8/APIEXAMPLEDLG.ipch
.vs/
Intermediate/
